@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200 20% 98%;
    --btn-background: 200 10% 91%;
    --btn-background-hover: 200 10% 89%;
    --foreground: 200 50% 3%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 200 50% 3%;
      --btn-background: 200 10% 9%;
      --btn-background-hover: 200 10% 12%;
      --foreground: 200 20% 96%;
    }
  }
}

@keyframes show {
  from {
    opacity: 0;
    scale: 10%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.login-button {
  --blue: #222;
  --radius: 8px;
  --rotate: 45deg;
  border-radius: var(--radius);
  background: var(--blue);
  color: white;
  font-weight: 500;
  border: 0;
  position: relative;
  overflow: hidden;

  .fancy {
    position: absolute;
    inset: 0;
    &:before {
      content: "";
      background: conic-gradient(
        from var(--rotate),
        transparent 0%,
        lightgreen 5%,
        transparent 10%
      );
      position: absolute;
      inset: 0;
      animation: rotate 2.3s cubic-bezier(0.75, 0.5, 1, 1.11) infinite;
    }
    &:after {
      content: "";
      background-color: var(--blue);
      position: absolute;
      inset: 2px;
      border-radius: calc(var(--radius) - 2px);
    }
  }

  .text {
    position: relative;
  }
}

@keyframes rotate {
  to {
    --rotate: 360deg;
  }
}

.home-posts {
  view-timeline-name: --reveal;

  animation-name: show;
  animation-fill-mode: both;

  animation-timeline: --reveal;
  animation-range: entry 25% cover 50%;
}

.error {
  color: tomato;
  font-size: 10px;
  margin: 4px 0;
}

dialog[open] {
  scale: 1;
  transition: scale 0.3s ease-in-out, opacity 0.3s ease;
  translate: 0 0;

  @starting-style {
    scale: 0;
    translate: 0 100px;
  }
}

dialog {
  transition: scale 0.3s ease, display 3s allow-discrete;
  scale: 0;
}

#textarea::-webkit-scrollbar {
  display: none;
}

#textarea:focus {
  outline: none;
}

.loader-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  backdrop-filter: blur(5px);
  z-index: 20;
}

.loader {
  position: absolute;
  top: 45%;
  left: calc(50% - 25px);
  width: 45px;
  height: 45px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
  border-radius: 50%;
}

.loader::before {
  content: "";
  position: absolute;
  top: calc(45% - 20px);
  left: calc(45% - 20px);
  width: 45px;
  height: 45px;
  border-top: 5px solid transparent;
  border-right: 5px solid lightgreen;
  border-bottom: 5px solid lightgreen;
  border-left: 5px solid lightgreen;
  border-radius: 50%;
  filter: drop-shadow(0 0 10px lightgreen) blur(1px);
  animation: spinner 2s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.eyes {
  animation: blink 6s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  96% {
    opacity: 0.1;
  }
  98% {
    opacity: 0.1;
  }
  99% {
    opacity: 1;
  }
}

.card-outline {
  position: relative;
}

.card-outline::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  border: 4px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  z-index: -1;
  pointer-events: none;
}

.card {
  position: relative;
  width: 300px;
  height: 200px;
  background-color: lightgreen;
  overflow: hidden;
  border-radius: 10px;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  background-blend-mode: multiply; /* Mezcla la textura con el color de fondo */
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://www.transparenttextures.com/patterns/otis-redding.png"); /* Imagen de ruido granulado */
  opacity: 0.3;
  pointer-events: none;
  mix-blend-mode: overlay; /* Mezcla la textura para un efecto grunge */
}

@layer base {
  * {
    @apply border-foreground/20;
  }
}
